
.banner {
    @apply md:pt-16 relative
    flex min-h-[55vh] w-full flex-col bg-center
    items-center justify-evenly bg-[url('/assets/images/tarihce.jpg')] bg-cover bg-no-repeat text-center;
}

.tabList {
    @apply flex list-none flex-wrap flex-row pt-0 mt-0
}


.tabList li {
    @apply -mb-px flex-auto text-center odd:bg-[#cac2bd] even:bg-[#cfcbc8]   -translate-y-12
}

.tabList li a{
    @apply  text-xl leading-6 text-white font-normal px-12 block py-8 font-['ralewaythin'] h-24
}

.activeTab {
    font-weight: 600 !important;
    background-color: #40ddbe !important;
}
.activeTab:after {
    @apply w-0 h-0 absolute -bottom-[1.5rem] left-1/2  ;
    content: "";
    border-left: 1.2rem solid transparent;
    border-right: 1.2rem solid transparent;
    border-top: 1.5rem solid #40ddbe;
}
.tabContent p{
    @apply text-center font-['ralewaylight'] text-sm text-[#2c2d39] border-solid border-b-[3px] border-[#7fffd4] mb-2.5 pb-8 mx-52;
    line-height:16px;
    font-weight: 600;
}

.title{
    @apply mt-0  font-['ralewaythin'] text-[#40ddbe];
    margin-bottom:40px;
    font-size:80px;
    font-weight: 600;
}

.desc {
    @apply text-white mb-0 font-['ralewaythin'] font-semibold text-2xl	 ;
}